*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/.cursor
storage/app/public/resources/1tbJHWeT8zNs3xme4IlFFklFylS4DbsPNBCZj9bv.pdf
storage/app/public/resources/4N8fCFP8ENhwcTRu6A88YJrZh2THp3rQ53seKPfg.pdf
storage/app/public/resources/5X6YkafJ4aqqgpCRiIvI9wq8bnAxYB6T4e2uB779.pdf
storage/app/public/resources/Cj4IiEiYxCZniRctoyGAX0mMQksQ1qZ26Otuu8u0.pdf
storage/app/public/resources/g6HrKyEKWh6qzzVBLea59tKFehM0PCR19iPa3m4l.pdf
storage/app/public/resources/Gr7KfjB0zy6AFk2sl2uxB23RvdfV3ivpcgWNU7FM.pdf
storage/app/public/resources/IGMPcDrMTiChZwf5wnkdL74jmqkzgvoJ4iN3y3HU.pdf
storage/app/public/resources/k1JvMksAayCD7tInHoyixcSsEaxZ05dspwhT6hFb.pdf
storage/app/public/resources/Xd3cPc3aI5PlGtf5lN44IQk2ToxhKFgRLVXEBiz7.pdf
storage/app/public/resources/XHQ3XdVdI6pV0bP9zCRECjJy58fKKEInv1LuEiXP.pdf
storage/app/public/resources/ybHRgJQ6wtANemegxYxuS9S9TDuCcERDwZHJ0Dba.pdf
storage/app/public/thumbnails/1.jpg
storage/app/public/thumbnails/2.jpg
storage/app/public/thumbnails/3.jpg
storage/app/public/thumbnails/4.jpg
storage/app/public/thumbnails/5.jpg
storage/app/public/thumbnails/6.jpg
storage/app/public/thumbnails/7.jpg
storage/app/public/thumbnails/8.jpg
storage/app/public/resources/1tbJHWeT8zNs3xme4IlFFklFylS4DbsPNBCZj9bv.pdf
storage/app/public/resources/4N8fCFP8ENhwcTRu6A88YJrZh2THp3rQ53seKPfg.pdf
storage/app/public/resources/5X6YkafJ4aqqgpCRiIvI9wq8bnAxYB6T4e2uB779.pdf
storage/app/public/resources/Cj4IiEiYxCZniRctoyGAX0mMQksQ1qZ26Otuu8u0.pdf
storage/app/public/resources/g6HrKyEKWh6qzzVBLea59tKFehM0PCR19iPa3m4l.pdf
storage/app/public/resources/Gr7KfjB0zy6AFk2sl2uxB23RvdfV3ivpcgWNU7FM.pdf
storage/app/public/resources/IGMPcDrMTiChZwf5wnkdL74jmqkzgvoJ4iN3y3HU.pdf
storage/app/public/resources/k1JvMksAayCD7tInHoyixcSsEaxZ05dspwhT6hFb.pdf
storage/app/public/resources/Xd3cPc3aI5PlGtf5lN44IQk2ToxhKFgRLVXEBiz7.pdf
storage/app/public/resources/XHQ3XdVdI6pV0bP9zCRECjJy58fKKEInv1LuEiXP.pdf
storage/app/public/resources/ybHRgJQ6wtANemegxYxuS9S9TDuCcERDwZHJ0Dba.pdf
storage/app/public/thumbnails/1.jpg
storage/app/public/thumbnails/2.jpg
storage/app/public/thumbnails/3.jpg
storage/app/public/thumbnails/4.jpg
storage/app/public/thumbnails/5.jpg
storage/app/public/thumbnails/6.jpg
storage/app/public/thumbnails/7.jpg
storage/app/public/thumbnails/8.jpg
