.kulim-park-extralight {
    font-family: "Kulim Park", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .kulim-park-light {
    font-family: "Kulim Park", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .kulim-park-regular {
    font-family: "Kulim Park", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .kulim-park-semibold {
    font-family: "Kulim Park", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .kulim-park-bold {
    font-family: "Kulim Park", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .kulim-park-extralight-italic {
    font-family: "Kulim Park", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .kulim-park-light-italic {
    font-family: "Kulim Park", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .kulim-park-regular-italic {
    font-family: "Kulim Park", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .kulim-park-semibold-italic {
    font-family: "Kulim Park", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .kulim-park-bold-italic {
    font-family: "Kulim Park", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  